body{
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 0;
}

/* HEADER TITLE*/
#header_title {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

#figure_icon{
    margin: 0;
    margin-left: 20px;
    display: flex;
    align-items: start;
}

#figure_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
}

#img_profile {
    width: 75px;
    border-radius: 50%;
}

h1 {
    margin-left: -50px;
}

/* HEADER LINKS */
#ul_links {
    display: flex;
}

#ul_links>li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: larger;
}

/* NAV MENU */

#ul_navmenu{
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;

    background-color: burlywood;
    font-size: larger;
}

