@import 'normalize.css';

*{
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;  
}

main {
  flex: 1;
}

main, nav, aside {
  padding-left: 2%;
  padding-right: 2%;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  
}